body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
div.header {
    background-color: lightblue;
}
div.nav {
    background-color: lightskyblue;
}
div.section {
    background-color: cadetblue;
}
