body {
    background-image: url(https://cdn.pixabay.com/photo/2015/11/22/17/15/tree-1056598_1280.jpg);
    color: black;
}
div.right {
    text-align: right;
}
div.tausta {
    background-color: white;;
}
p.rounded {
    border: 2px solid red;
    border-radius: 8px;
}

